.DS_Store
.vscode
*.pdf
.venv/

./pycache/
./__pycache__/
./*/__pycache__/
pruning_lab/data/__pycache__/
pruning_lab/inference/__pycache__/
pruning_lab/models/__pycache__/
pruning_lab/train/__pycache__/
pruning_lab/utils/__pycache__/
pruning_lab/train/__pycache__/
pruning_lab/__pycache__/

*.out

runs/

pruning_lab/data/cifar-10-batches-py
pruning_lab/data/cifar-10-python.tar.gz